<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assests/search.css">
</head>

<body>
  <main>
    <section>
      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a class="nav" href="#news">Find a Device</a>
        <a class="nav href=" #contact">Compare</a>
        <a class="nav href=" #about">Buy</a>
        <a class="nav" href="#about">Sell</a>
        <span class="Profile">
          <img class="Pro" src="Vector.png">
        </span>
      </div>
      <div>
        <input class="search" type="text">
      </div>

      <div class="small-cards">
        <div class="card">
          <p style="float: left;"><img src="Samsung.jpg" class="img"></p>
          <p class="imgname">Samsung Galaxy M32</p>
          <span class="price">&#8377;200000.00</span>
        </div>
        <div class="card">
          <p style="float: left;"><img src="Samsung.jpg" class="img"></p>
          <p class="imgname">Samsung Galaxy M32</p>
          <span class="price">&#8377;200000.00</span>
        </div>
        <div class="card">
          <p style="float: left;"><img src="Samsung.jpg" class="img"></p>
          <p class="imgname">Samsung Galaxy M32</p>
          <span class="price">&#8377;200000.00</span>
        </div>
        <div class="card">
          <p style="float: left;"><img src="Samsung.jpg" class="img"></p>
          <p class="imgname">Samsung Galaxy M32</p>
          <span class="price">&#8377;200000.00</span>
        </div>
      </div>
    </section>
    <section>
      <div class="big-cards">
        <div class="card-big">
          <p style="float: left;"><img src="Samsung.jpg" class="img"></p>
          <p class="imgname">Samsung Galaxy M32</p>
          <span class="price">&#8377;200000.00</span>
        </div>
        <div class="card-big1"></div>
        <div class="card-big"></div>
        <div class="card-big1"></div>
        <div class="card-big"></div>
        <div class="card-big1"></div>
      </div>

    </section>


  </main>

</body>

</html>