
<div class="topnav">  
    <a class="home" href="/">Home</a>
    <a class="nav" href="/getPhone/find">Find a Device</a>
    <a class="nav" href="/buy">Compare</a>
    <!-- <a class="nav" href=" #about">Buy</a> -->
    <a class="nav" href="/sell">Sell</a>
    <input class="search" type="text" placeholder="Search" id ="search">
  <div id = "list"></div> 
    <span class="Profile">
     <a href="/signin"> <img class="Pro" src="/assests/Vector.png"></a>
    </span>
  </div>
